body {
    width: 100%;
}
#mainContent {
    .nicEdit-main {
        background-color: wheat;
        color: black;
    }
    width: 1000px;
    margin: 0 auto;
    border: 1px solid;
    header#header {
        text-align: center;
        background-color: #4CAF50;
        color: beige;
        font-size: 18px;
        padding: 4px 0px 4px 0;
    }
    nav {
        /* border:  1px solid; */
        width: 200px;
        margin: 8px 0 0 0;
        float: left;
    }
    ul#listGroup {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        background-color: #009688;
        color: wheat;
        margin: 2px 0 0 0;
        text-indent: 15px;
    }
    section {
        width: 750px;
        float: left;
        margin: 10px 0 0 10px;
        background-color: darkgreen;
        color: wheat;
        padding: 20px;
        .formAddMenu {
            // visibility: hidden;
            #modeType{
            	float: left;
    clear: both;
    // margin: 16px 0 0 0;
            	select {
    width:  200px;
    height: 32px;
    background-color: #cddc39;
    font-size:  16px;
    margin: 0 0 16px 0;
}
            }
            .labelText {
            	clear: both;
                margin: 14px 0 4px 0px;
                /* border: 1px solid; */
                width: 150px;
                text-align: center;
                background-color: #72cc0a;
                color: darkblue;
                /* border-top-left-radius: 5px; */
                border-top-right-radius: 1em;
            }
            label {
                /* margin:  0 auto; */
                margin: 0 0 0 10px;
                float: left;
            }
            input[type="text"] {
                width: 350px;
                height: 25px;
                background-color: #CDDC39;
                color: darkblue;
                /* text-indent: 22px; */
                text-align: center;
                font-size: 16px;
                margin: 6px 0 0 45px;
            }
            textarea {
                margin: 6px 0 0 30px;
                width: 600px;
                height: 200px;
                font-size: 16px;
                background-color: #cddc39;
            }
            #listHeal {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        background-color: #8bc34a;
                        color: black;
                        margin: 2px 0 0 0;
                        text-indent: 15px;
                    }
                }
            }
            input[type="checkbox"] {
                width: 50px;
                padding: 50px;
            }
            input[type="checkbox"] {
                height: 24px;
                width: 24px;
            }
            button#submitAdd {
                margin: 10px 0 0 45%;
                padding: 10px;
                font-size: 16px;
            }
            #editor {
                background-color: #fff;
                color: black;
                .addQl {
                    height: 200px;
                }
                .ql-snow {
                    background-color: red;
                }
            }
            #editor2 {
                background-color: #fff;
                color: black;
                .addQl {
                    height: 200px;
                }
                .ql-snow {
                    background-color: red;
                }
            }
            #editor3 {
                background-color: #fff;
                color: black;
                .addQl {
                    height: 200px;
                }
                .ql-snow {
                    background-color: red;
                }
            }
        }
    }
    .showFormAddMenu {
        visibility: hidden;
    }
}
.addCl {
    background-color: #8BC34A;
    ;
}